[submodule "Effective-Software-Testing"]
	path = Effective-Software-Testing
	url = https://github.com/MoonKimTeam/Effective-Software-Testing
[submodule "Tidy-First"]
	path = Tidy-First
	url = https://github.com/MoonKimTeam/Tidy-First
[submodule "Clean-Architecture-Learning-in-the-Making"]
	path = Clean-Architecture-Learning-in-the-Making
	url = https://github.com/MoonKimTeam/Clean-Architecture-Learning-in-the-Making
[submodule "The-Secret-Life-of-Programs-Understand-Computers"]
	path = The-Secret-Life-of-Programs-Understand-Computers
	url = https://github.com/MoonKimTeam/The-Secret-Life-of-Programs-Understand-Computers
[submodule "java-to-kotlin-study"]
	path = java-to-kotlin-study
	url = https://github.com/flataex/java-to-kotlin-study
[submodule "docker-study"]
	path = docker-study
	url = https://github.com/flataex/docker-study
[submodule "kafka-study"]
	path = kafka-study
	url = https://github.com/flataex/kafka-study
[submodule "microservice-study"]
	path = microservice-study
	url = https://github.com/flataex/microservice-study
